.header_inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
}
.links_inner {
    &:not(:last-child) {
        margin-right: 32px;
    }
    &::after {
        background-color: #d0ff00;
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    &:focus::after, &:hover::after {
        width: 100%;
    }
    font-size: 20px;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
    // margin-right: 127px;
    font-size: 36px;
    font-weight: 500;
    &:hover {
        user-select: none;
    }
    
    div {
        margin-left: 26px;
    }
}
.btn {
    display: flex;
    align-items: center;
    // margin-left: 184px;
    width: 152.94px;
    height: 54.82px;
    background: #FF3D00;
    border-radius: 50px;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: #ff3c00b9;
        user-select: none;
        cursor: pointer;
    }
}
.header {
    background: rgba(0, 0, 0, 0.29);
    // position: fixed;
    // width: 1920px;
}