<div class="header">
  <div class="container">
    <div class="header_inner">
      <div class="logo">
        <img src="../../../assets/images/Logo.svg" alt="">
        <div>DayZ Team Battle</div>
      </div>
      <div class="links">
        <a href="#" class="links_inner">О сервере</a>
        <a href="#" class="links_inner">Преимущества</a>
        <a href="#" class="links_inner">Награды</a>
        <a href="#" class="links_inner">Администрирование</a>
      </div>
      <div class="btn">Вступить</div>
    </div>
  </div>
</div>