.header_inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.links {
    display: flex;
    min-width: 800px;
    justify-content: space-around;
}
.links_inner {
    // &:not(:last-child) {
    //     margin-right: 32px;
    // }
    &::after {
        background-color: #d0ff00;
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    &:focus::after, &:hover::after {
        width: 100%;
    }
    font-size: 20px;
    text-decoration: none;
    @media(width < 1600px) {
        font-size: 18px;
    }
}
.logo {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    &:hover {
        user-select: none;
    }
    
    div {
        margin-left: 26px;
        @media(width < 1600px) {
            margin-left: 15px;
            font-size: 30px;
        }
    }
}
.btn {
    display: flex;
    align-items: center;
    width: 152.94px;
    height: 54.82px;
    background: #FF3D00;
    border-radius: 50px;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: #ff3c00b9;
        user-select: none;
        cursor: pointer;
    }
    @media(width < 1600px) {
        font-size: 15px;
        width: 124px;
        height: 47px;
    }
}
.header {
    background: rgba(0, 0, 0, 0.29);
}