<div class="containerLk">
  <div class="header">
    <div class="profile">
      <img src="../../../../assets/images/Discord.svg" class="img">
      <div>
        FROFY
      </div>
    </div>
    <div class="navBar">
      <div class="navBar_inner" routerLink="myTeam">Моя команда</div>
      <div class="navBar_inner" routerLink="topTeam">Топ команд</div>
      <div class="navBar_inner" routerLink="regTour">Регистрация на турнир</div>
      <div class="navBar_inner" routerLink="myTours">Мои турниры</div>
    </div>
    <div class="btnPay">
      <hr width="1" size="40" />
      <div>Пополнить баланс</div>
    </div>
  </div>
  <div class="lineHeader"></div>
</div>