.title {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.teamContainer {
    max-width: 1132px;
    margin: 0 auto;
}

.me {
    display: flex;
    justify-content: center;
}

.teammates {
    display: flex;
    justify-content: space-around;
    @media(width < 1070px) {
        flex-direction: column;
        max-width: 268px;
        margin: auto;
    }
}