.title {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}